// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;




$blue1: #003D7A;
$blue2: #1078C2;
$blue3: #07447D;

$grey1: #8F8E94;
$grey2: #D1D1D1;
