// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;


$orange1: #F26430;

// $orange1: rgba(242, 100, 48, 1); }


$blue1: #003D7A;
$blue2: #1078C2;
$blue3: #07447D;

$grey1: #8F8E94;
$grey2: #D1D1D1;




// /* Color Theme Swatches in RGBA */
// .Copy-of-silver-and-blue-all-the-way-1-rgba { color: rgba(0, 61, 121, 1); }
// .Copy-of-silver-and-blue-all-the-way-2-rgba { color: rgba(142, 142, 147, 1); }
// .Copy-of-silver-and-blue-all-the-way-3-rgba { color: rgba(209, 209, 209, 1); }
// .Copy-of-silver-and-blue-all-the-way-4-rgba { color: rgba(16, 119, 193, 1); }
// .Copy-of-silver-and-blue-all-the-way-5-rgba { color: rgba(7, 68, 124, 1); }

