// Specific CSS for your home-page

#mensen {
  // opacity: 0.5;
  height: 100vh;
  background-image: url(https://i.imgur.com/fVR2kxh.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  // z-index: -1;
  position: relative;
}


.mainpage-container {
  width: 90vw;
  height: 80vh;
  position: absolute;
  left: 10vh;
  top: 10vw
}


.main-title {
  color: white;
  letter-spacing: 0.04em;
  font-size: 75px;
  font-weight: 200;
  margin: 0px;
}

.second-title {
  color: #F26430;
  font-weight: 200;
  font-size: 50px;
}


.third-title {
  color: white;
  font-weight: 200;
  font-size: 35px;
  letter-spacing: 0.039em;
}


.author {
  color: white;
  font-weight: 200;
  font-size: 40px;
  position: absolute;
  bottom: 100px;
}
