<%= render 'shared/navbar' %>


<div class="background_large" id="dagfoto">

<!-- <div class="toegangmelding">
Voor toegang tot het trainingsmateriaal: mail naar SOS Flooding: L.M.Klingen@tudelft.nl
</div>
 -->
  <div class="mainpage-container">

    <div class="toegangsmelding">
      Voor toegang tot het trainingsmateriaal mail naar SOS Flooding: L.M.Klingen@tudelft.nl
    </div>


    <div class="main-title">
      BESTUURLIJKE MASTERCLASS WATERCRISIS
    </div>

    <div class="second-title">
      Overstroming Noord-Holland Noord
    </div>
    <br>



    <div class="author">
      SOS Flooding | TU Delft
    </div>



  </div>

</div>


