<div class="control-container">

  <div class="control-panel">

    <div class="control-title">
      DOORBRAAK +
    </div>

    <div class="control-drawing"></div>

    <div class="control-rows">

      <div class="control-row">
        <div class="theme-button gebied"><h4></h4></div>

        <div class="control-button-row">
          <div class="control-button"></div>
          <div class="control-button"></div>
          <div class="control-button"></div>
        </div>
      </div>

      <div class="control-row">
        <div class="theme-button gebied"><h4></h4></div>

        <div class="control-button-row">
          <div class="control-button"></div>
          <div class="control-button"></div>
          <div class="control-button"></div>
        </div>
      </div>


      <div class="control-row">
        <div class="theme-button overwegingen">overwegingen</div>

        <div class="control-button-row">
          <div class="control-button" style="color:grey;">samen (be)sturen</div>
          <div class="control-button" style="color:grey;">onderzekerheids-paradox</div>
          <div class="control-button" style="color:grey;">het grotere goed</div>
          <div class="control-button" style="color:grey;">voorstel</div>
        </div>

      </div>



     </div>

  </div>
  <div class="control-map"></div>


</div>

