<div class="control-container">

  <div class="control-panel">

    <div class="control-title">
      GEBIEDSVERKENNING
    </div>

    <div class="control-divider"></div>

    <div class="control-drawing">test</div>

    <div class="control-rows">

      <div class="control-row">
        <div class="theme-button height">hoogte</div>

        <div class="control-button">modelgebied</div>
        <div class="control-button">gemeentes</div>
      </div>


      <div class="control-row">
        <div class="theme-button height"></div>

        <div class="control-button">hoogte</div>
        <div class="control-button">dwars1</div>
        <div class="control-button">dwars2</div>
        <div class="control-button">dwars3</div>
      </div>


       <div class="control-row">
        <div class="theme-button">
          <i class="fas fa-user-friends"></i>
        </div>

        <div class="control-button">heatmap</div>
        <div class="control-button">bedrijven</div>
        <div class="control-button">---</div>
      </div>


    </div>

  </div>
  <div class="control-map">
<!--     <div class="wooden-frame-horizontal"></div> -->
    <!-- <div class="control-map-image"></div> -->
    <!-- <div class="wooden-frame-horizontal end"></div> -->

  </div>


</div>
