<div class="background_large">



  <img id ="mensen" src="https://i.imgur.com/JEnpSGg.jpg">
  <!-- <img src="https://i.imgur.com/B2hC5hW.jpg"> -->

  <div class="container">


    <div class="start-flow">
      <%= link_to gebiedsverkenning_path do %>
        <div class="go-button">
          start
        </div>
      <% end %>
    </div>



  </div>


</div>

