<div class="background_large">






    <div class="traininstool-content-home">

    <div class="main-title-trainingstool">
      TRAININGSTOOL
    </div>


    <%= link_to denhelder_path, class: "link-page"  do %>
      <div class="naartoolknop">
      Bestuurlijke Dillema's
    </div>
    <% end %>




    <div class="naartoolknop">

    </div>

      <div class="tu-trainingstool">
      SOS Flooding | TU Delft
    </div>

<div class="traingstool-tekst">Het trainingsmateriaal op deze website, de opzet van de trainingstool en de vormgeving zijn auteursrechtelijk beschermd. Zonder overleg met de rechthebbende mag niets hiervan worden gebruikt in presentaties of trainingssituaties.</div>





  </div>








</div>


