<div class="background_large">


  <div class="container">


    <div class="start-flow">
      <%= link_to gebiedsverkenning_path do %>
        <div class="go-button">
          start
        </div>
      <% end %>
    </div>



  </div>


</div>

