<div class="background_large" id="dagfoto">

<div class="toegangmelding">
  <i class="fas fa-angle-right"></i><i class="fas fa-angle-right"></i> Mail voor toegang tot deze website naar SOS Flooding: L.M.Klingen@tudelft.nl
</div>

  <div class="mainpage-container">

    <div class="main-title">
      BESTUURLIJKE MASTERCLASS WATERCRISIS
    </div>

    <div class="second-title">
      29 november 2019 | Heerhugowaard
    </div>
    <br>

    <div class="third-title">
      Veiligheidsregio Noord-Holland Noord | Hoogheemraadschap Hollands Noorderkwartier
    </div>
    <br>

    <div class="author">
      SOS Flooding | TU Delft
    </div>



  </div>

</div>


