<div class="background_large" id="mensen">


  <div class="mainpage-container">

    <div class="main-title">
      BESTUURLIJKE MASTERCLASS WATERCRISIS
    </div>

    <div class="second-title">
      29 november 2019 | Heerhugowaard
    </div>
    <br>

    <div class="third-title">
      Veiligheidsregio Noord-Holland Noord | Hoogheemraadschap Hollands Noorderkwartier
    </div>
    <br>

    <div class="author">
      SOS Flooding | TU Delft
    </div>


  </div>

</div>


