<div class="background_large" id="mensen">

  <div class="mainpage-container">

    <div class="main-title">
      <h1>OVERSTROMINGSSCENARIO DEN HELDER</h1>
      <h5>bestuurlijke masterclass 29 november 2019</h5>
    </div>

    <div class="start-flow">
      <%= link_to t72_path do %>
        <div class="go-button">start</div>
      <% end %>
    </div>

  </div>

</div>

s
