<%= render 'shared/navbar' %>



   <div class="aanpak-container">



<div class="tekst-aanpak">


 <h4 style="color:#F26430;" >Opzet training</h4>
<br>

  De training gaat over een overstroming van Noord-Hoilland Noord door een dijkdoorbraak bij Den Helder. Het moment van doorbraak is natuurlijk onduidelijk en daardoor ook de mogelijke impact. Gaandeweg tekent zich een waarschijnlijk scenario af waarna waterhuishoudkundige inprepen en gerichte evacuatie op gang kunnen komen.
  <br>
  <br>
  We beschouwen de (verwachte) situatie en de beslissingen die moeten worden genomen op 4 kritieke momenten (in 4 trainingsronden):
  <br> <br>

  <ul>
    <li>3 dagen voor de doorbraak (T-72)</li>
    <li>2 dagen voor de doorbraak (T-48)</li>
    <li>1 dag voor de doorbraak: (T-24), en</li>
    <li>Het moment van doorbraak en de herstelperiode.</li>
  </ul>
De sessie leider leidt iedere ronde in, waarna de operationele leider de vragen, de beschikbare informatie en een voorstel vanuit het operationele team presenteert. Steeds komt een aantal kenmerkende vragen en onzekerheden aan de orde die worden geflankeerd door technische informatie, kaart- en videomateriaal op de webpagina's.


</div>





  </div>












