<!-- <div class="mainpage-container"> -->
  <%= render 'shared/navbar' %>

<div class="two-logos">
  <div class="tu-logo"></div>
  <!-- <div class="oyces-logo"></div> -->

</div>

   <div class="general-info">




    <div>
      <h4 style="color:#F26430;" >Louise Klingen - L.M.klingen@tudelft.nl</h4>
    </div>

    <br>

    <!-- <div class="control-title">ACHTERGROND</div> -->

    <h5 >Deze website is ontwikkeld ter ondersteuning van de bestuurlijke masterclass rond een overstroming
    ten gevolge van een (fictieve) dijkdoorbraak bij Den Helder. In samenwerking met het <span style="color:#F26430;">Hoogheemraadschap Hollands Noorderkwartier</span>.</h5>

    <br>

    <div>
      <h5 style="color:#F26430;" >Credits</h5>
      <p>- Initiatiefnemer: Raymond de Landmeter (HHNK)</p>
      <p>- Ontwikkeling applicatie: Louise Klingen (TU Delft)</p>
      <p>- Hydraulische modellering, simulaties, kaartbeelden: Louise Klingen (TU Delft)</p>
      <p>- Vormgeving en ontwerp: Elgard van Leeuwen (Deltares) en Louise Klingen (TU Delft)</p>
      <!-- <p>- Vormgeving en ontwerp: Louise Klingen (TU Delft)</p> -->
      <!-- <p>- Productie journaals: Diederik Stolk (Goldsworthy, Stolk & Associates)</p> -->
      <!-- <p>- Verhaallijn journaals: Diederik Stolk, Raymond de Landmeter (HHNK), Elgard van Leeuwen (TU Delft)</p> -->
      <p>- Ontwerp verhaallijn masterclass: Raymond de Landmeter (HHNK), Robbert Hossen (VR NHN), Elgard van Leeuwen (Deltares), Martin Slot (Slot Crisis Management), Koos Kranenburg (ministerie van Defensie)</p>
      <p>- Ontwikkeling operationele strategie: Raymond de Landmeter (HHNK), Elgard van Leeuwen (Deltares)</p>
      <p>- Voorbereiding bestuurlijke discussies: Elgard van Leeuwen (Deltares), Martin Slot (Slot Crisis Management)</p>
    </div>

    <br>

    <div>
      <h5 style="color:#F26430;" >Modellering</h5>
      <p>In het kader van de informatievoorziening voor de masterclass is een hogeresolutie 3Di model gemaakt van het rampgebied.
      Met dit model zijn diverse scenario’s doorgerekend op overstromingsverloop en waterdiepte. De mogelijke impact is bepaald
      uit een combinatie van gebiedsgegevens en simulatieresultaten.</p>
    </div>

    <br>

    <div>
      <h5 style="color:#F26430;" >SOS Flooding - TU DELFT </h5>
      <p>De ontwikkeling van deze website is een onderdeel van het promotieonderzoek SOS Flooding dat door Louise Klingen wordt
      uitgevoerd bij de vakgroep Transport en Planning van de Faculteit CiTG van de Technische Universiteit Delft. Dit onderzoek richt
      zich op het integreren van verkeers- en overstromingsberekeningen bij het ondersteunen van evacuatie.
      SOS Flooding omvat ook een Pilot in Noord-Holland. In deze pilot participeren de Provincie Noord-Holland, de veiligheidsregio’s
      en het hoogheemraadschap Hollands Noorderkwartier.  </p>
    </div>


    <br>

    <div>
      <h5 style="color:#F26430;" >Disclaimer</h5>
      <p>De informatie op deze site is fictief, en gericht op training in het omgaan met bestuurlijke dilemma’s rond evacuatie.
      De site is niet bedoeld als informatiebron bij watercrises.</p>

    </div>

    <br>

       <div>
      <h5 style="color:#F26430;" >Copyright</h5>
      <p>Het trainingsmateriaal op deze website, de opzet van de trainingstool en de vormgeving zijn auteursrechtelijk beschermd. Zonder overleg met de rechthebbende mag niets hiervan worden gebruikt in presentaties of trainingssituaties.</p>

    </div>

    <br>


  <br>







  </div>





<!-- </div> -->




<!--  <p>Deze pagina is onderdeel van het SOS Flooding onderzoeksproject van de TU Delft en opgezet in samenwerking met het Hoogheemraadschap van Hollands Noorderkwartier.</p>

    info: Louise Klingen - L.M.klingen@tudelft.nl -->
