<div class="info-page-container">




   <div class="general-info">
    <div class="control-title">ACHTERGROND</div>

    <h5 style="color:red;" >page still in development</h5>
    <p>Deze pagina is onderdeel van het SOS Flooding onderzoeksproject van de TU Delft en opgezet in samenwerking met het Hoogheemraadschap van Hollands Noorderkwartier.</p>

    info: Louise Klingen - L.M.klingen@tudelft.nl
  </div>







</div>
