<%= render 'shared/navbar' %>
<!-- JOURNAAL 1 -->

 <div class="video-container">


    <%= link_to doorbraak_path do %>
      <div class="backtopage-button"><< terug</div>
    <% end %>



<!--   <iframe src="https://player.vimeo.com/video/376255747" width="100%" height="100%" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe> -->

  <iframe src="https://player.vimeo.com/video/431758728" width="100%" height="100%" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>


 </div>


