<%= render 'shared/navbar' %>
<!-- JOURNAAL 1 -->
 <div class="video-container">


    <%= link_to t72_path do %>
      <div class="backtopage-button"><< terug</div>
    <% end %>



<!--     <iframe src="https://player.vimeo.com/video/376121327" width="100%" height="100%" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe> -->



      <iframe class="document-fullpage-pdf"  id="iframepdf_plan" src="https://drive.google.com/file/d/11HloTw62Zc1JCR9PkHX3vxDLE37ckVn2/preview?role=reader" ></iframe>



 </div>


<!--
https://drive.google.com/file/d/11HloTw62Zc1JCR9PkHX3vxDLE37ckVn2/view?usp=sharing
 -->


<!--

<div class="page-container">


    <div class="document-fullpage-gdrive">


      <iframe class="document-fullpage-pdf"  id="iframepdf_plan" src="https://drive.google.com/file/d/1poDeMSXGGCQFcQQJxXlLsot3299ZQ9ll/preview?role=reader" ></iframe>

    </div> -->




</div>


