<div class="control-container">

  <div class="control-panel">

    <div class="control-title">
      SYSTEM
    </div>

    <!-- <div class="control-drawing"></div> -->

    <div class="control-rows">

      <div class="control-row">
        <div class="theme-button" id="system-propagation1">flood propagation levee</div>

        <div class="control-button-row">
          <div class="control-button" id="Qloc1_9u30">discharge 9:30</div>
          <div class="control-button" id="Qloc1_9u45">discharge 9:45</div>
          <div class="control-button" id="Qloc1_10u00">discharge 10:00</div>
        </div>
      </div>

      <div class="control-row">
        <div class="theme-button" id="system-propagation1">flood propagation channel</div>

        <div class="control-button-row">
          <div class="control-button" style="color:grey;">discharge 9:30</div>
          <div class="control-button" style="color:grey;">discharge 9:45</div>
          <div class="control-button" style="color:grey;">discharge 10:00</div>
        </div>
      </div>


      <div class="control-row">
        <div class="theme-button" id="system-critical-point1">critical height</div>

        <div class="control-button-row">
          <div class="control-button" id="CP1_topview"= >top view</div>
          <div class="control-button" style="color:grey;">side view</div>

        </div>

      </div>




     </div>

  </div>
  <div class="control-map"></div>


</div>

