<div class="control-container">

  <div class="control-panel">

    <div class="control-title">
      SYSTEM
    </div>

    <!-- <div class="control-drawing"></div> -->

    <div class="control-rows">


      <div class="control-row">
        <div class="theme-button" id="system-propagation1">flood propagation</div>

        <div class="control-button-row">
          <div class="control-button" id="QS1T0u30">0:30</div>
          <div class="control-button" id="QS1T1u00">1:00</div>
          <div class="control-button" id="QS1T1u30">1:30</div>
          <div class="control-button" id="QS1T2u00">2:00</div>
          <div class="control-button" id="QS1T2u30">2:30</div>
          <div class="control-button" id="QS1T3u00">3:00</div>
          <div class="control-button" id="QS1T3u30">3:30</div>
          <div class="control-button" id="QS1T4u00">4:00</div>
          <div class="control-button" id="QS1T4u30">4:30</div>
          <div class="control-button" id="QS1T5u00">5:00</div>
        </div>
      </div>


      <div class="control-row">
        <div class="theme-button" id="system-propagation2">flood propagation levee</div>

        <div class="control-button-row">
          <div class="control-button" id="Qloc1_9u30">discharge 9:30</div>
          <div class="control-button" id="Qloc1_9u45">discharge 9:45</div>
          <div class="control-button" id="Qloc1_10u00">discharge 10:00</div>
        </div>
      </div>


      <div class="control-row">
        <div class="theme-button" id="system-critical-point1">critical height</div>

        <div class="control-button-row">
          <div class="control-button" id="CP1_topview">top view</div>
          <div class="control-button" id="CP1_sideview">side view</div>

        </div>

      </div>




     </div>

  </div>

  <div class="control-map">
    <!-- <div class="copyrightSOSFLOODING">SOS FLOODING | TU DELFT &#9400 2019</div> -->
  </div>

</div>

