<div class="control-container">

  <div class="control-panel">

    <div class="control-title">
      T-24
    </div>

    <div class="control-drawing"></div>

    <div class="control-rows">


      <div class="control-row">
        <div class="theme-button journaal-icon">journaal</div>

        <div class="control-button-row">
          <div class="control-button" style="color:grey;">video</div>
        </div>
      </div>

       <div class="control-row">
        <div class="theme-button tijd-water-icon" id="scenario2">tijd&#160water</div>

        <div class="control-button-row">
<!--    <div class="control-button-dummy"></div> -->
          <div class="control-button" id="S2T1u">+1uur</div>
          <div class="control-button" id="S2T2u">+2uur</div>
          <div class="control-button" id="S2T3u">+3uur</div>
          <div class="control-button" id="S2T4u">+4uur</div>
          <div class="control-button" id="S2T6u">+6uur</div>
          <div class="control-button" id="S2T12u">+12uur</div>
          <div class="control-button" id="S2T24u">+24uur</div>
          <div class="control-button" id="S2Teind">eind</div>
          <div class="control-button" style="color:grey;"id="S2Tvideo">video</div>
        </div>
      </div>



      <div class="control-row">
        <div class="theme-button tijd-woningen-icon" id="scen2-pand">tijd&#160woningen</div>

        <div class="control-button-row">
          <div class="control-button" id="S2P1u">na 1 u</div>
          <div class="control-button" id="S2P2u">na 2 u</div>
          <div class="control-button" id="S2P4u">na 4 u</div>
          <div class="control-button" id="S2P6u">na 6 u</div>
          <div class="control-button" id="S2P12u">na 12 u</div>
          <div class="control-button" id="S2P24u">na 24 u</div>
          <div class="control-button" id="S2P38u">na 38 u</div>
        </div>
      </div>

      <div class="control-row">
        <div class="theme-button impact-icon" id="impact-S2">impact</div>

        <div class="control-button-row">
          <div class="control-button" id="S2-water-depth">max diepte</div>
          <div class="control-button" id="S2-pand-depth">woningen</div>
          <div class="control-button" id="S2-wegen-depth">wegen</div>
        </div>
      </div>


      <div class="control-row">
        <div class="theme-button" id="todo" style="color:#0eff00;">kaarten nog&#160indelen:</div>

        <div class="control-button-row">
          <div class="control-button" id="coupure_afsluiting">afsluiting door coupures</div>
          <!-- <div class="control-button" style="color:grey;">lage delen keringen</div> -->

          <!-- <div class="control-button" id="S2-wegen-depth">wegen</div> -->
        </div>
      </div>




     </div>

  </div>
  <div class="control-map"></div>


</div>

