<div class="control-container">

  <div class="control-panel">

    <div class="control-title">
      T-48
    </div>

    <div class="control-drawing-water">

    </div>

    <div class="control-rows">

      <div class="control-row">
        <div class="theme-button journaal-icon">journaal</div>

        <div class="control-button-row">
          <div class="control-button" style="color:grey;">video</div>
        </div>
      </div>

      <div class="control-row">
        <div class="theme-button flood-icon" id="scenario1">scn_1</div>

        <div class="control-button-row">
          <!-- <div class="control-button-dummy"></div> -->
          <div class="control-button" id="S1T1u">+1uur</div>
          <div class="control-button" id="S1T2u">+2uur</div>
          <div class="control-button" id="S1T3u">+3uur</div>
          <div class="control-button" id="S1T5u">+5uur</div>
          <div class="control-button" id="S1T9u">+9uur</div>
          <div class="control-button" id="S1T10u">+10uur</div>
          <div class="control-button" id="S1T11u">+11uur</div>
          <div class="control-button" id="S1T13u">+13uur</div>
          <div class="control-button" id="S1T18u">+18uur</div>
          <div class="control-button" id="S1T24u">+24uur</div>
          <div class="control-button" id="S1T36u">+36uur</div>
          <div class="control-button" id="S1Teind">eind</div>
        </div>
      </div>


      <div class="control-row">
        <div class="theme-button flood-icon" id="scenario2">scn_2</div>

        <div class="control-button-row">
<!--    <div class="control-button-dummy"></div> -->
          <div class="control-button" id="S2T1u">+1uur</div>
          <div class="control-button" id="S2T2u">+2uur</div>
          <div class="control-button" id="S2T3u">+3uur</div>
          <div class="control-button" id="S2T4u">+4uur</div>
          <div class="control-button" id="S2T6u">+6uur</div>
          <div class="control-button" id="S2T12u">+12uur</div>
          <div class="control-button" id="S2T24u">+24uur</div>
          <div class="control-button" id="S2Teind">eind</div>
        </div>
      </div>


      <div class="control-row">
        <div class="theme-button mensen-icon" id="max-depth">waterdiepte</div>

        <div class="control-button-row">
          <div class="control-button" id="S1Pmd">scen 1</div>
          <div class="control-button" id="S2Pmd">scen 2</div>
        </div>
      </div>


       <div class="control-row">
        <div class="theme-button overwegingen-icon">overwegingen</div>

        <div class="control-button-row">
          <div class="control-button" style="color:grey;">samen (be)sturen</div>
          <div class="control-button" style="color:grey;">onderzekerheids-paradox</div>
          <div class="control-button" style="color:grey;">het grotere goed</div>
          <div class="control-button" style="color:grey;">voorstel</div>
        </div>

      </div>



    </div>

  </div>
  <div class="control-map">
  </div>


</div>
