<div class="control-container">

  <div class="control-panel">

    <div class="control-title">
      T-48
    </div>

    <div class="control-drawing-water">

    </div>

    <div class="control-rows">

      <div class="control-row">
        <div class="theme-button flood" id="scenario1">scn_1</div>

        <div class="control-button-row">
          <div class="control-button-dummy"></div>
          <div class="control-button" id="S1T1">+1 hr</div>
          <div class="control-button" id="S1T2">+3 hr</div>
          <div class="control-button" id="S1T3">+6 hr</div>
          <div class="control-button" id="S1T4">+9 hr</div>
          <div class="control-button" id="S1T5">+12 hr</div>
          <div class="control-button" id="S1T6">+15 hr</div>
          <div class="control-button" id="S1T7">+18 hr</div>
          <div class="control-button" id="S1eind">eind</div>
        </div>
      </div>


      <div class="control-row">
        <div class="theme-button flood">scn_2</div>

        <div class="control-button-row">
          <div class="control-button-dummy"></div>
          <div class="control-button-dummy"></div>
          <div class="control-button">+6 hr</div>
          <div class="control-button">+12 hr</div>
          <div class="control-button">+18 hr</div>
          <div class="control-button">+24 hr</div>
          <div class="control-button">+36 hr</div>
          <div class="control-button">48uur</div>
          <div class="control-button" id="S2eind">eind</div>
        </div>
      </div>




    </div>

  </div>
  <div class="control-map">
  </div>


</div>
