<div class="control-container">

  <div class="control-panel">

    <div class="control-title">
      T-72
    </div>

    <div class="control-drawing"></div>

    <div class="control-rows">

      <div class="control-row">
        <div class="theme-button journaal">journaal</div>

        <div class="control-button-row">
          <div class="control-button"></div>
        </div>
      </div>


      <div class="control-row">
        <div class="theme-button situatie">situatie</div>

        <div class="control-button-row">
          <div class="control-button">weerbeeld</div>
          <div class="control-button">kust bedreigd</div>
          <div class="control-button">uitval netwerken</div>
        </div>
      </div>


       <div class="control-row">
        <div class="theme-button gebied">informatie</div>

        <div class="control-button-row">
          <div class="control-button">best grenzen</div>
          <div class="control-button">ramp grens</div>
          <div class="control-button" id="inwoners">huizen</div>
          <div class="control-button">nuts netwerken</div>
          <div class="control-button">watersysteem</div>
          <div class="control-button">wegen</div>
          <div class="control-button">helderse zeewering</div>
        </div>
      </div>


       <div class="control-row">
        <div class="theme-button overwegingen">overwegingen</div>

        <div class="control-button-row">
          <div class="control-button">samen (be)sturen</div>
          <div class="control-button">onderzekerheidsparadox</div>
          <div class="control-button">het grotere goed</div>
          <div class="control-button">voorstel</div>
        </div>

      </div>



     </div>

  </div>
  <div class="control-map"></div>


</div>
