<div class="control-container">

  <div class="control-panel" id="T72" >

    <div class="control-title">
      T-72
    </div>

    <div class="control-drawing"></div>

    <div class="control-rows">

      <div class="control-row">
        <div class="theme-button journaal">journaal</div>

        <div class="control-button-row">
          <div class="control-button"></div>
        </div>
      </div>


      <div class="control-row">
        <div class="theme-button situatie" id="situatie">situatie</div>

        <div class="control-button-row">
          <div class="control-button" id="weerbeeld" >weerbeeld</div>
          <div class="control-button" style="color:grey;">kust bedreigd</div>
          <div class="control-button" id="IWO" >gebied bedreigd</div>
          <!-- <div class="control-button">uitval netwerken</div> -->
        </div>
      </div>


       <div class="control-row">
        <div class="theme-button gebied" id="informatie">informatie</div>

        <div class="control-button-row">
          <div class="control-button">grenzen</div>
          <!-- <div class="control-button">ramp grens</div> -->
          <div class="control-button" id="inwoners">huizen</div>
          <div class="control-button">nuts netwerken</div>
          <!-- <div class="control-button">watersysteem</div> -->
          <div class="control-button" id="wegen">wegen</div>
        </div>
      </div>

      <div class="control-row">
        <div class="theme-button gebied" id="assets">assets</div>

        <div class="control-button-row">
          <div class="control-button" id="keringen">keringen</div>
          <div class="control-button" id="kooysluis">Kooysluis</div>
          <div class="control-button" id="koopvaderschutsluis">Koopvaarders-schutsluis</div>
          <div class="control-button" id="RWZI" >RWZI</div>
          <div class="control-button" id="marine"style="color:grey;" >marine</div>
          <div class="control-button" id="NAM" style="color:grey;">NAM</div>

        </div>
      </div>


      <div class="control-row">
        <div class="theme-button gebied" id="hoogte">hoogte</div>

        <div class="control-button-row">
          <div class="control-button" id="groterdan55meter">> 5.5 mNAP</div>
          <div class="control-button" id="groterdan45meter">> 4.5 mNAP</div>
          <div class="control-button" id="groterdan35meter">> 3.5 mNAP</div>
          <div class="control-button" id="groterdan25meter">> 2.5 mNAP</div>
          <div class="control-button" id="groterdan2meter">> 2 mNAP</div>
          <div class="control-button" id="droog">> droog</div>

        </div>
      </div>


       <div class="control-row">
        <div class="theme-button overwegingen">overwegingen</div>

        <div class="control-button-row">
          <div class="control-button" style="color:grey;">samen (be)sturen</div>
          <div class="control-button" style="color:grey;">onderzekerheids-paradox</div>
          <div class="control-button" style="color:grey;">het grotere goed</div>
          <div class="control-button" style="color:grey;">voorstel</div>
        </div>

      </div>



     </div>

  </div>
  <div class="control-map"></div>


</div>
