<div class="control-container">

  <div class="control-panel" id="T72" >

    <div class="control-title">
      T-72
    </div>

    <div class="control-drawing"></div>

    <div class="control-rows">

      <div class="control-row">
        <div class="theme-button journaal">journaal</div>

        <div class="control-button-row">
          <div class="control-button"></div>
        </div>
      </div>


      <div class="control-row">
        <div class="theme-button situatie" id="situatie">situatie</div>

        <div class="control-button-row">
          <div class="control-button" id="weerbeeld" >weerbeeld</div>
          <div class="control-button" id="regios" >regios</div>
        </div>
      </div>


      <div class="control-row">
        <div class="theme-button gebied" id="assets">assets</div>

        <div class="control-button-row">
          <div class="control-button" id="keringen">keringen</div>
          <div class="control-button" id="wegen">wegen</div>
          <div class="control-button" style="color:grey;" >elektriciteit</div>
          <div class="control-button" style="color:grey;" >vitale assets</div>
          <div class="control-button"id="watersysteem">watersysteem</div>
        </div>
      </div>


       <div class="control-row">
        <div class="theme-button gebied" id="informatie">mensen</div>

        <div class="control-button-row">
          <div class="control-button" id="inwoners">inwoners</div>
          <div class="control-button" style="color:grey;">niet zelfredzamen</div>
        </div>
      </div>



      <div class="control-row">
        <div class="theme-button gebied" id="hoogte">hoge_zones</div>

        <div class="control-button-row">
          <div class="control-button" id="groterdan55meter">> 5.5 mNAP</div>
          <div class="control-button" id="groterdan25meter">> 2.5 mNAP</div>
          <div class="control-button" id="droog"> droog</div>
        </div>
      </div>


       <div class="control-row">
        <div class="theme-button overwegingen">overwegingen</div>

        <div class="control-button-row">
          <div class="control-button" style="color:grey;">samen (be)sturen</div>
          <div class="control-button" style="color:grey;">onderzekerheids-paradox</div>
          <div class="control-button" style="color:grey;">het grotere goed</div>
          <div class="control-button" style="color:grey;">voorstel</div>
        </div>

      </div>





     </div>

  </div>
  <div class="control-map"></div>


</div>
