<%= render 'shared/navbar' %>

 <div class="video-container">


    <%= link_to t48_path do %>
      <div class="backtopage-button"><< terug</div>
    <% end %>


<!--

  <iframe src="https://player.vimeo.com/video/375879008"  width="100%" height="100%" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe> -->

  <iframe src="https://player.vimeo.com/video/431759824"  width="100%" height="100%" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>

 </div>



