<div class="control-container">

  <div class="control-panel">

    <div class="control-title">
      <i class="fas fa-water"></i>
      WATER
    </div>

    <div class="control-divider"></div>

    <div class="control-drawing-water">test</div>

    <div class="control-rows">

      <div class="control-row">
        <div class="theme-button height">scenario 1</div>

        <div class="control-button">1uur</div>
        <div class="control-button">2uur</div>
        <div class="control-button">6uur</div>
        <div class="control-button">8uur</div>
        <div class="control-button" id="scen1_24uur">24uur</div>
      </div>



      <div class="control-row">
        <div class="theme-button height"></div>

        <div class="control-button">1uur</div>
        <div class="control-button">2uur</div>
        <div class="control-button">dwars2</div>
        <div class="control-button">dwars3</div>
      </div>


       <div class="control-row">
        <div class="theme-button">
          <i class="fas fa-user-friends"></i>
        </div>

        <div class="control-button">heatmap</div>
        <div class="control-button">bedrijven</div>
        <div class="control-button">---</div>
      </div>

    </div>

  </div>
  <div class="control-map">
  </div>


</div>
