.backtopage-button {
  height: 50px;
  width: 100px;
  color: #364559;
  background-color: #F26430;
  text-align: center;
  padding: 10px;
  border-radius: 12px;
  font-size: 18px;
  font-weight: 900;
  letter-spacing: 0.04em;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  flex-wrap: wrap;
  position: absolute;
  left: 30px;
  // top: 50px;

}
