body {
  // background-color: #1c2228;
  background-color: #364559;
  font-family: 'Fira Sans', 'sans-serif';
}


.no-link_style {
    text-decoration: none;
    color: inherit;

}

.no-link_style:hover {
    text-decoration: none;
    // color: inherit;
  }


.orange-tekst {
  color:#F26430;
}
