.control-drawing-water {
  // width: 90%;
  height: 25%;
  background-image: url(https://i.imgur.com/sR9ocYi.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.8;
  // margin: 10px 0px;
  // text-align: center;
}
