.control-button {
  height: 50px;
  width: 50px;
  background: #F26430;
  color: white;
  text-align: center;
  border-radius: 5px;
  margin: 15px 0px 15px 15px;
  padding: 14px 0px;
  font-size: 10px;
  font-weight: 900;
  letter-spacing: 0.04em;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease-in-out;
  overflow: hidden;
  border: 0.5px solid white;
}

.control-button:hover {
  color: #F26430;
  background-color: white;
  transform: scale(1.15);
  font-weight: 900;
  border: 2px solid #F26430;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.6);
}


.control-button-active {
  color: #F26430;
  background-color: white;
  transform: scale(1.15);
  font-weight: 900;
  border: 2px solid #F26430;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}


.control-button-dummy {
  height: 50px;
  width: 50px;
  border-radius: 5px;
  margin: 15px 0px 15px 15px;
  background-color: #1c2228;
}
