.control-map {
  min-height: 100%;
  width: 50%;
  background-image: url(https://i.imgur.com/EgMHzuV.jpg);
  box-shadow: inset 0px 0px 20px rgba(0, 0, 0, 0.4);
  background-size: cover;
  border-radius: 4px
}
