.control-map {
  min-height: 100%;
  width: 50%;
  background-image: url(https://i.imgur.com/EgMHzuV.jpg);
  box-shadow: inset 0px 0px 20px rgba(0, 0, 0, 0.4);
  background-size: cover;
  background-position: center;
}

// water

.mapS1T1 {
  background-image: url(https://i.imgur.com/AFj6eXc.png);
}

.mapS1T2 {
  background-image: url(https://i.imgur.com/DPhcMgw.png);
}

.mapG1 {
  background-image: url(https://i.imgur.com/VGkDxDA.jpg);
}


// // gebiedsverkenning

// .control-map .inwoners {
//   background-image: url(https://i.imgur.com/VGkDxDA.jpg);
// }
