.control-map {
  min-height: 100%;
  width: 50%;
  background-image: url(https://i.imgur.com/RWQcGqR.png);
  box-shadow: inset 0px 0px 20px rgba(0, 0, 0, 0.2);
  background-size: cover;
  background-position: center;
}

// water

.mapS1T1 {
  background-image: url(https://i.imgur.com/xTP1nQn.png); // 1 uur
}

.mapS1T2 {
  background-image: url(https://i.imgur.com/8Z4mFw4.png); // 3 uur
}

.mapS1T3 {
  background-image: url(https://i.imgur.com/DMuXbdq.png); // 6 uur
}

.mapS1T4 {
  background-image: url(https://i.imgur.com/6DpDMMh.png); // 9 uur
}

.mapS1T5 {
  background-image: url(https://i.imgur.com/Q2tMWsB.png); // 12 uur
}

.mapS1T6 {
  background-image: url(https://i.imgur.com/yIDUoq5.png); // 15 uur
}

.mapS1T7 {
  background-image: url(https://i.imgur.com/n2girIi.png); // 18 uur
}




// gebiedsverkenning

.mapG1 {
  background-image: url(https://i.imgur.com/iivXbPN.png); // kernen kaal
}
