.footer {
  background: #1c2228;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 50px;
  color: #D1D1D1;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100vw;
  z-index: 100;
  // opacity: 0.7 ;
}

.footer-links {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.footer-links i {
  color: #D1D1D1;
  opacity: 0.4;
  text-decoration: none;
  font-size: 35px;
  padding: 2px 10px;
  // font-weight: lighter;
}

.footer-links i:hover {
  // opacity: 1;
}

.footer-links-active i {
  opacity: 1;
  // color: #F26430;
}


.footer-right  {
  color: #F26430;
  text-decoration: none;
  font-size: 40px;
  padding: 10px 10px;
}
