.go-button {
  height:45px;
  width:150px;
  transition: all .3s ease-in-out;
  background-color: #F26430;
  color:white;
  position: absolute;
  text-align: center;
  right: -20px;
  bottom: -20px;
  font-size: 22px;
  font-weight: bold;
  padding: 5px;
  border-radius: 5px;
  // box-shadow: 1px 2px 4px rgba(0, 0, 0, .1);
  box-shadow: 2px 2px 10px rgba(0, 61, 121, 0.6);
  letter-spacing: 0.1em;

}

.go-button:hover {
  transform: scale(1.3);

}
