.nav-buttons {  height: 60px;
  width: 100px;
  margin: 10px;
  opacity: 0.6;
  border: 1px solid rgb(220,220,220);
  border-radius: 9px;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  font-size: 15px;
}

.nav-buttons:hover{
  opacity: 1;
  border: 1px solid rgba(250, 250, 250, 1);
}

