.oyces-logo {
  background: url(https://i.imgur.com/6j30H78.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left center;
  height:100px;
  width: 300px;
  // opacity: 0.8;
  margin: 4px 0vw ;
}


