.start-flow {
  width: 50vw;
  height: 50vh;
  margin: auto;
  // box-shadow: 2px 2px 10px rgba(242, 100, 48, 0.4);
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  background: url("https://i.imgur.com/AHQoKhv.png");
  background-size: contain;
  background-color: #364559;
  opacity: 0.8;
  // position: relative;
}
