.tekst-aanpak {
  color: white;
  font-size: 15px;
  font-weight: 200;
  letter-spacing: 0.08em;
}



.aanpak-container {
   display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 15vh;
  width: 50vw;


}
