.theme-button {
  height: 80px;
  width: 80px;
  text-align: center;
  border-radius: 10px 0px 0px 10px;
  padding: 10px 0px;
  font-size: 16px;
  letter-spacing: 0.06em;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);

}

.height {
  background: url(https://i.imgur.com/3ZxxwW9.png);
  background-size: cover;
  background-color: white;
  // z-index: 0;
}
