.theme-button {
  height: 100px;
  width: 100px;
  // background: #183140;
  // color: white;
  text-align: center;
  border-radius: 5px;
  margin: 10px 15px 10px 10px;
  padding: 20px 0px;
  font-size: 16px;
  letter-spacing: 0.06em;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.height {
  background: url(https://i.imgur.com/3ZxxwW9.png);
  background-size: cover;
  background-color: #8C9E9E;
  border: 1px solid black;
}
