.theme-button {
  height: 70px;
  width: 70px;
  // text-align: center;
  padding: 1px 50px 1px 8px;
  font-size: 15px;
  // color: #F26430;
  color: white;
  opacity: 0.8;
}

.flood-icon {
  background: url(https://i.imgur.com/jms4Vkf.png); // golf en huisje
  background-size: cover;
}
.flood-icon-small {
  background: url(https://i.imgur.com/4mNLG4X.png); // golf en huisje
  background-size: cover;
}

.gebied-icon {
  background: url(https://i.imgur.com/OUPFXRl.png); // Mensen rond tafel
  background-size: cover;
}

.journaal-icon {
  background: url(https://i.imgur.com/hhpyIx1.png);
  background-size: cover;
}

.situatie-icon {
  background: url(https://i.imgur.com/g1z1fxw.png);
  background-size: cover;
}

.overwegingen-icon {
  background: url(https://i.imgur.com/AdgTY6d.png);
  background-size: cover;
}

.voorstel-icon {
  background: url(https://i.imgur.com/pWiaU3L.png);
  background-size: cover;
}

.assets-icon {
  background: url(https://i.imgur.com/RgoF3VI.png);
  background-size: cover;
}

.mensen-icon {
  background: url(https://i.imgur.com/jYwLFYZ.png);
  background-size: cover;
}

.hogezones-icon {
  background: url(https://i.imgur.com/gqilOu1.png);
  background-size: cover;
}


