.tu-logo {
  background: url(https://i.imgur.com/v3t84Z1.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left center;
  height:100px;
  width: 300px;
  // opacity: 0.8;
  margin: 4px 4vw 0vw 4vw;
}



.tu-logo-small {
  background: url(https://i.imgur.com/v3t84Z1.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left center;
  height:50px;
  width: 100px;
  margin: 0px 10px;
  // opacity: 0.8;
  // margin: 4px 4vw 0vw 4vw;
}
