.wooden-frame-horizontal {
  height: 20px;
  width: 100%;
  background-image: url(https://i.imgur.com/fXltmNj.png);
  background-color: #734439;
  border-radius: 8px;
}

.wooden-frame-horizontal .end {
  position: absolute;
  bottom: 0px;
}
